/*---------------------------------------
Author : Pascal Ablitzer
Date : 2021-12-09

-----------------------------------------*/
/*--------------- Import --------------------------------------
---------------------------------------------------------------*/
/*---------------- fonts */
@font-face {
  font-family: 'Lato-Light';
  src: url('/res/font/Lato-Light/Lato-Light.woff2') format('woff2'),
    url('/res/font/Lato-Light/Lato-Light.woff') format('woff'),
    url('/res/font/Lato-Light/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('/res/font/Lato-Bold/Lato-Bold.woff2') format('woff2'),
    url('/res/font/Lato-Bold/Lato-Bold.woff') format('woff'),
    url('/res/font/Lato-Bold/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('/res/font/Lato-Regular/Lato-Regular.woff2') format('woff2'),
    url('/res/font/Lato-Regular/Lato-Regular.woff') format('woff'),
    url('/res/font/Lato-Regular/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/res/font/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
    url('/res/font/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    url('/res/font/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('/res/font/Roboto-Italic/Roboto-Italic.woff2') format('woff2'),
    url('/res/font/Roboto-Italic/Roboto-Italic.woff') format('woff'),
    url('/res/font/Roboto-Italic/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/res/font/Roboto-Bold/Roboto-Bold.woff2') format('woff2'),
    url('/res/font/Roboto-Bold/Roboto-Bold.woff') format('woff'),
    url('/res/font/Roboto-Bold/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Trirong-BoldItalic';
  src: url('/res/font/Trirong-BoldItalic/Trirong-BoldItalic.woff2')
      format('woff2'),
    url('/res/font/Trirong-BoldItalic/Trirong-BoldItalic.woff') format('woff'),
    url('/res/font/Trirong-BoldItalic/Trirong-BoldItalic.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Trirong-Italic';
  src: url('/res/font/Trirong-Italic/Trirong-Italic.woff2') format('woff2'),
    url('/res/font/Trirong-Italic/Trirong-Italic.woff') format('woff'),
    url('/res/font/Trirong-Italic/Trirong-Italic.ttf') format('truetype');
}

/*---------------- Reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------- Configuration variable ------------------------
---------------------------------------------------------------*/
/*--------------- Global Style --------------------------------
---------------------------------------------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1a1a1a;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  line-height: 150%;
}

h1 {
  font-family: 'Trirong', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 2em;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2em;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #d62828;
}

.btn-inv {
  background-color: #eae2b7;
  color: #d62828;
}

.btn-inv:hover {
  color: #eae2b7;
  background-color: #d62828;
}

/*---------------- misc flex */
/*--------------- Layout Style --------------------------------
---------------------------------------------------------------*/
/*---------------- Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #003049;
  height: 40px;
  padding: 20px 10px;
  color: #f3f3f3;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*---------------- Burger menu */
.toggle {
  display: none;
}

.btn-menu {
  position: absolute;
  top: -22px;
  right: 0;
  cursor: pointer;
  padding: 20px;
}

.btn-menu > span,
.btn-menu > span::before,
.btn-menu > span::after {
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background-color: #f3f3f3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1100;
}

.btn-menu > span::before {
  content: '';
  position: absolute;
  top: 10px;
}

.btn-menu > span::after {
  content: '';
  position: absolute;
  top: 30px;
}

.btn-menu:hover > span::before {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.btn-menu:hover > span::after {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.toggle:checked + .btn-menu > span {
  background-color: transparent;
}

.toggle:checked + .btn-menu > span::before {
  -webkit-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

.toggle:checked + .btn-menu > span::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

.toggle:checked ~ .menu {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

@media screen and (min-width: 700px) {
  .btn-menu {
    visibility: hidden;
  }
  .btn-menu > span::before,
  .btn-menu > span::after {
    visibility: hidden;
    opacity: 0;
  }
}

nav {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #003049;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu ul li {
  font-size: 1.2em;
  padding: 30px 20px;
  text-transform: uppercase;
}

.menu ul li a {
  border-bottom: 2px solid transparent;
  padding: 4px 0;
}

.menu ul li a.current {
  border-bottom: 2px solid #f77f00;
}

.menu ul li a:hover:not(.current) {
  border-bottom: 2px solid #c7b241;
  color: #c7b241;
}

@media screen and (min-width: 700px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: initial;
    visibility: visible;
    opacity: 1;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .menu ul li {
    text-transform: initial;
    padding: 20px 30px;
  }
}

/*---------------- Main */
.banner {
  background-image: url(/res/img/cor1.jpeg);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #f3f3f3;
}

.banner .fader {
  background-color: rgba(214, 40, 40, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.banner .wrapper {
  position: relative;
  width: 100%;
}

.banner p {
  font-size: 1.2em;
  text-shadow: #000 0 0 6px;
  text-align: center;
  margin-bottom: 20px;
}

.banner h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: #000 0 0 6px;
  text-align: center;
}

.banner .btn {
  position: absolute;
  right: 0px;
  bottom: 20px;
}

@media screen and (min-width: 700px) {
  .banner h1,
  .banner p {
    text-align: center;
  }
}

/*---------------- Main */
main .wrapper {
  margin: 0px 20px;
}

section {
  background-color: #fff;
}

section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

section h2 {
  color: #d62828;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

section article {
  width: 100%;
}

section article .carte {
  margin: 10px;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 10px;
}

section article:nth-of-type(3n) .carte {
  border-top: 10px solid #fcbf49;
}

section article:nth-of-type(3n + 1) .carte {
  border-top: 10px solid #f77f00;
}

section article:nth-of-type(3n + 2) .carte {
  border-top: 10px solid #eae2b7;
}

@media screen and (min-width: 700px) {
  section article {
    width: 50%;
  }
}

/*---------------- Aside */
/*---------------- Footer */
footer {
  background-color: #003049;
  color: #f3f3f3;
}
/*# sourceMappingURL=style.css.map */
