/*---------------------------------------
Author : Pascal Ablitzer
Date : 2021-12-09

-----------------------------------------*/

/*--------------- Import --------------------------------------
---------------------------------------------------------------*/
/*---------------- fonts */
@import 'font';

/*---------------- Reset css */

@import 'reset';

/*--------------- Configuration variable ------------------------
---------------------------------------------------------------*/
$col-dark: #003049;
$col-light: #eae2b7;
$col-brand: #d62828;
$col-sec: #f77f00;
$col-ter: #fcbf49;

$col-txt: #1a1a1a;
$col-txt-inv: #f3f3f3;

$col-light-2: darken($col-light, 30%);

$font-txt: 'Roboto', sans-serif;
$font-level1: 'Trirong', serif;
$font-level2: 'Lato', sans-serif;

$breakpoint-res: 700px;

/*--------------- Global Style --------------------------------
---------------------------------------------------------------*/
body {
  font-family: $font-txt;
  font-weight: 400;
  font-size: 16px;
  color: $col-txt;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  line-height: 150%;
}

h1 {
  font-family: $font-level1;
  font-style: italic;
  font-weight: 700;
  font-size: 2em;
}
h2 {
  font-family: $font-level2;
  font-weight: 700;
  font-size: 2em;
}
h3 {
  font-family: $font-level2;
  font-weight: 400;
  font-size: 1.5em;
}
a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: $col-brand;
}
.btn-inv {
  background-color: $col-light;
  color: $col-brand;

  &:hover {
    color: $col-light;
    background-color: $col-brand;
  }
}

/*---------------- misc flex */
%flex-between-centered {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%flex-arround-centered {
  display: flex;
  justify-content: space-arround;
  align-items: center;
}
%flex-arround-wrap {
  display: flex;
  justify-content: space-arround;
  flex-wrap: wrap;
}
/*--------------- Layout Style --------------------------------
---------------------------------------------------------------*/

/*---------------- Header */
header {
  display: flex;
  background-color: $col-dark;
  height: 40px;
  padding: 20px 10px;
  color: $col-txt-inv;
  align-items: center;
}

/*---------------- Burger menu */

// menu burger toggle not visible
.toggle {
  display: none;
}

// Burger menu
.btn-menu {
  position: absolute;
  top: -22px;
  right: 0;
  cursor: pointer;
  padding: 20px;
  > span,
  > span::before,
  > span::after {
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    background-color: $col-txt-inv;
    transition: all 0.3s ease-in-out;
    z-index: 1100;
  }
  > span::before {
    content: '';
    position: absolute;
    top: 10px;
  }
  > span::after {
    content: '';
    position: absolute;
    top: 30px;
  }

  // effect on burger menu hover
  &:hover {
    > span::before {
      transform: translateY(-3px);
    }
    > span::after {
      transform: translateY(3px);
    }
  }
}

// burger menu toggle management
.toggle:checked {
  // transform burger menu => close button  when toggle checked

  + .btn-menu > span {
    background-color: transparent;
  }
  + .btn-menu > span::before {
    transform: translateY(10px) rotate(45deg);
  }
  + .btn-menu > span::after {
    transform: translateY(-10px) rotate(-45deg);
  }

  // toggle associated menu visibility
  ~ .menu {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
  }
}

// burger menu on large screen : not displayed
@media screen and (min-width: $breakpoint-res) {
  // buger menu not visible
  .btn-menu {
    visibility: hidden;

    // set opacity for smooth transition on resize
    > span::before,
    > span::after {
      visibility: hidden;
      opacity: 0;
    }
  }
}

//*---------------- Nav */
nav {
  position: relative;
  flex-grow: 1;
}

// menu layout
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $col-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    li {
      font-size: 1.2em;
      padding: 30px 20px;
      text-transform: uppercase;

      a {
        border-bottom: 2px solid transparent;
        padding: 4px 0;
        &.current {
          border-bottom: 2px solid $col-sec;
        }
        &:hover:not(.current) {
          border-bottom: 2px solid $col-light-2;
          color: $col-light-2;
        }
      }
    }
  }
}

// Plain menu when burger menu is not displayed
@media screen and (min-width: $breakpoint-res) {
  .menu {
    display: flex;
    justify-content: center;
    position: initial;
    visibility: visible;
    opacity: 1;

    ul {
      display: flex;
      //justify-content: space-around;
      flex-direction: row;
      flex-grow: 1;
      li {
        text-transform: initial;
        padding: 20px 30px;
      }
    }
  }
}

/*---------------- Main */
.banner {
  background-image: url(/res/img/cor1.jpeg);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  color: $col-txt-inv;

  .fader {
    background-color: rgba($col-brand, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
  }
  .wrapper {
    position: relative;
    width: 100%;
  }

  p {
    font-size: 1.2em;
    text-shadow: #000 0 0 6px;
    text-align: center;
    margin-bottom: 20px;
  }
  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: #000 0 0 6px;
    text-align: center;
  }
  .btn {
    position: absolute;
    right: 0px;
    bottom: 20px;
  }
}
@media screen and (min-width: $breakpoint-res) {
  // banner layout for large screens
  .banner {
    h1,
    p {
      text-align: center;
    }
  }
}
/*---------------- Main */
main .wrapper {
  margin: 0px 20px;
}

section {
  background-color: #fff;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    color: $col-brand;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    //flex-shrink: 0;
  }

  article {
    width: 25%;
  }
  article .carte {
    margin: 10px;
    border-bottom: 1px solid lighten($col-txt, 80);
    border-left: 1px solid lighten($col-txt, 80);
    border-right: 1px solid lighten($col-txt, 80);
    padding: 10px;
  }

  article:nth-of-type(3n) .carte {
    border-top: 10px solid $col-ter;
  }
  article:nth-of-type(3n + 1) .carte {
    border-top: 10px solid $col-sec;
  }
  article:nth-of-type(3n + 2) .carte {
    border-top: 10px solid $col-light;
  }
}
@media screen and (min-width: $breakpoint-res) {
  section {
    article {
      width: 100%;
    }
  }
}

/*---------------- Aside */

/*---------------- Footer */
footer {
  background-color: $col-dark;
  color: $col-txt-inv;
}
