/*---------------------------------------
Author : Pascal Ablitzer
Date : 2021-12-09

-----------------------------------------*/
/*--------------- Import --------------------------------------
---------------------------------------------------------------*/
/*---------------- fonts */
@font-face {
  font-family: 'Lato-Light';
  src: url("/res/font/Lato-Light/Lato-Light.woff2") format("woff2"), url("/res/font/Lato-Light/Lato-Light.woff") format("woff"), url("/res/font/Lato-Light/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("/res/font/Lato-Bold/Lato-Bold.woff2") format("woff2"), url("/res/font/Lato-Bold/Lato-Bold.woff") format("woff"), url("/res/font/Lato-Bold/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("/res/font/Lato-Regular/Lato-Regular.woff2") format("woff2"), url("/res/font/Lato-Regular/Lato-Regular.woff") format("woff"), url("/res/font/Lato-Regular/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("/res/font/Roboto-Regular/Roboto-Regular.woff2") format("woff2"), url("/res/font/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("/res/font/Roboto-Regular/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url("/res/font/Roboto-Italic/Roboto-Italic.woff2") format("woff2"), url("/res/font/Roboto-Italic/Roboto-Italic.woff") format("woff"), url("/res/font/Roboto-Italic/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("/res/font/Roboto-Bold/Roboto-Bold.woff2") format("woff2"), url("/res/font/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("/res/font/Roboto-Bold/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Trirong-BoldItalic';
  src: url("/res/font/Trirong-BoldItalic/Trirong-BoldItalic.woff2") format("woff2"), url("/res/font/Trirong-BoldItalic/Trirong-BoldItalic.woff") format("woff"), url("/res/font/Trirong-BoldItalic/Trirong-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Trirong-Italic';
  src: url("/res/font/Trirong-Italic/Trirong-Italic.woff2") format("woff2"), url("/res/font/Trirong-Italic/Trirong-Italic.woff") format("woff"), url("/res/font/Trirong-Italic/Trirong-Italic.ttf") format("truetype");
}

/*---------------- Reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------- Configuration variables ------------------------
---------------------------------------------------------------*/
/*--------------- Global Style --------------------------------
---------------------------------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f3f3f3;
  line-height: 1.5;
  background-color: #003049;
}

h1,
h2,
h3,
h4 {
  line-height: 150%;
}

h1 {
  font-family: "Trirong", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 2em;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2em;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn, .btn-prim {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 2px;
  margin-bottom: 5px;
  border: 1px solid #d62828;
}

.btn {
  border-color: #d62828;
  background-color: #eae2b7;
  color: #d62828;
}

.btn:hover {
  color: #eae2b7;
  background-color: #d62828;
}

.btn-prim {
  border-color: #8d8d8d;
  background-color: #d62828;
  color: silver;
}

.btn-prim:hover {
  background-color: transparent;
  border-color: #d62828;
  color: #f3f3f3;
}

/*--------------- info data with icons */
.info-date::before, .info-where::before, .info-schedule::before, .info-phone::before, .info-email::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  width: 1.5em;
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.info {
  color: #f77f00;
}

.info-date::before {
  content: '\f133';
}

.info-where::before {
  content: '\f3c5';
}

.info-schedule::before {
  content: '\f017';
}

.info-phone::before {
  content: '\f879';
}

.info-email::before {
  content: '\f0e0';
}

/*--------------- Layout Style --------------------------------------------------
---------------------------------------------------------------------------------*/
/*------------------------------------ Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #003049;
  height: 40px;
  padding: 10px 10px;
  color: #f3f3f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo img {
  max-width: 40px;
  max-height: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .logo:hover img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .logo figcaption {
  margin-left: 0.5em;
  font-family: "Trirong", serif;
}

/*------------------------------------ Burger menu */
.toggle {
  display: none;
}

.btn-menu {
  position: absolute;
  top: -22px;
  right: 0;
  cursor: pointer;
  padding: 20px;
  z-index: 10001;
}

.btn-menu > span,
.btn-menu > span::before,
.btn-menu > span::after {
  display: block;
  width: 40px;
  height: 0px;
  padding: 2px 0;
  border-radius: 5px;
  background-color: #f3f3f3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-menu > span::before {
  content: '';
  position: absolute;
  top: 10px;
}

.btn-menu > span::after {
  content: '';
  position: absolute;
  top: 30px;
}

.btn-menu:hover > span::before {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn-menu:hover > span::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.toggle:checked + .btn-menu > span {
  background-color: transparent;
}

.toggle:checked + .btn-menu > span::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.toggle:checked + .btn-menu > span::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.toggle:checked ~ .menu {
  visibility: visible;
  opacity: 1;
  z-index: 10000;
}

@media screen and (min-width: 680px) {
  .btn-menu {
    visibility: hidden;
  }
  .btn-menu > span::before,
  .btn-menu > span::after {
    visibility: hidden;
    opacity: 0;
  }
}

nav {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #003049;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu ul li {
  font-size: 1.1em;
  padding: 30px 0px;
  text-transform: uppercase;
}

.menu ul li a {
  border-bottom: 2px solid transparent;
  padding: 4px 0;
}

.menu ul li a.current {
  border-bottom: 2px solid #f77f00;
}

.menu ul li a:hover:not(.current) {
  border-bottom: 2px solid #fcbf49;
  color: #fcbf49;
}

@media screen and (min-width: 680px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: initial;
    visibility: visible;
    opacity: 1;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .menu ul li {
    text-transform: initial;
    padding: 0px 30px;
  }
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0.5;
  }
  80% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0.5;
  }
  80% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.slide {
  font-size: 4em;
  color: #f3f3f3;
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: -10vh;
  -webkit-animation: 4s ease 3s 6 running slide-up;
          animation: 4s ease 3s 6 running slide-up;
}

@-webkit-keyframes anim-background {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes anim-background {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes anim-fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim-fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #003049;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position-x: center;
}

.background.bi1 {
  background-image: url(/res/img/cor1-gs.jpg);
}

.background.bi1.anim {
  -webkit-animation: 3s ease-out 0s 1 running anim-background;
          animation: 3s ease-out 0s 1 running anim-background;
}

.background.bi2 {
  background-image: url(/res/img/cor8-gs.jpg);
}

.background.bi2.anim {
  -webkit-animation: 3s ease-in-out 0s 1 running anim-fade;
          animation: 3s ease-in-out 0s 1 running anim-fade;
}

.banner {
  color: #f3f3f3;
  overflow: hidden;
  position: relative;
  height: calc(100vh - 60px);
  min-height: 320px;
}

.banner .overlay {
  background-color: rgba(26, 26, 26, 0.25);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.banner .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .text-container {
  background-color: rgba(26, 26, 26, 0.7);
  margin: 20px 10vw;
  padding: 20px;
  z-index: 101;
}

.banner .slide-container {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
}

.banner p,
.banner h1 {
  text-shadow: #000 0 0 30px;
  text-align: center;
}

.banner p {
  font-size: 1em;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 200;
}

.banner h1 {
  margin-top: 5vh;
  margin-bottom: 20px;
}

.banner .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.banner .btn-container .btn {
  margin: auto;
}

@media screen and (min-width: 680px) {
  .banner {
    height: 50vh;
    min-height: 400px;
  }
  .banner h1,
  .banner p {
    text-align: center;
  }
  .slide {
    display: none;
  }
}

section {
  background-color: #003049;
  margin: 0px 10px 10px 10px;
}

section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

section h2 {
  text-align: center;
  width: 100%;
  margin: 20px 10px 0 10px;
  background-color: transparent;
  color: #f3f3f3;
  padding: 5px 0;
  font-weight: 200;
  font-size: 1.5em;
}

section article {
  width: 100%;
  color: #1a1a1a;
}

section article:nth-of-type(2n) .card {
  border-top: 20px solid #fcbf49;
}

section article:nth-of-type(2n + 1) .card {
  border-top: 20px solid #f77f00;
}

section .card {
  margin: 20px 20px 0px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 200px 2fr;
      grid-template-rows: 200px 2fr;
  background-color: #eae2b7;
}

section .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

section .card .info-block {
  padding: 10px;
}

section .card .info-detail {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .card h3 {
  font-size: 1em;
  text-align: center;
}

section .card h4 {
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 10px;
  text-align: center;
}

section .card .info {
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .card .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-top: 10px;
  border: 1px solid #f77f00;
}

section .btn-prim {
  margin-top: 20px;
}

section article:nth-of-type(2n) .text-block {
  border-left: 20px solid #fcbf49;
}

section article:nth-of-type(2n + 1) .text-block {
  border-left: 20px solid #f77f00;
}

section .text-block {
  margin: 20px 20px 0px 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eae2b7;
}

section .text-block h3 {
  font-size: 1.2em;
  text-align: left;
  color: #d62828;
  margin-bottom: 1em;
}

section .text-block p {
  font-size: 1em;
  margin-bottom: 0.5em;
}

section .text-block .btn {
  width: 180px;
  margin-bottom: 0.5em;
}

section .text-block address {
  margin-bottom: 0.5em;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .text-block address .info {
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9em;
}

section .text-block address .info::before {
  color: #d62828;
}

@media screen and (min-width: 680px) {
  section .card {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  section .card .info {
    padding: 10px;
  }
  section .card .btn {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 20px;
  }
  section .card h3,
  section .card h4 {
    text-align: left;
  }
}

@media screen and (min-width: 900px) {
  section h2 {
    width: 100%;
    margin: 20px 10px 0 10px;
  }
  section article.bs-2-columns {
    width: 50%;
  }
  section article .card {
    min-height: 240px;
  }
}

.full-width-container {
  width: 100%;
  margin: 10px 20px;
}

.full-width-container .btn-prim {
  display: block;
  text-align: center;
}

/*---------------- Aside */
/*---------------- Footer */
footer {
  background-color: #003049;
  color: #8d8d8d;
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 10px;
}

footer .highlight {
  color: #f3f3f3;
}

footer .foot-head {
  margin: 10px 20px 10px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 1em;
  text-align: center;
  grid-area: head;
  width: 100%;
}

footer .foot-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

footer .col-title {
  font-size: 0.9em;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

footer .col-main {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .col-main li {
  text-align: left;
}

footer .col-main li.centered {
  text-align: center;
}

footer .col-main li i {
  color: #fcbf49;
}

@media screen and (min-width: 680px) {
  footer .foot-column {
    width: 50%;
  }
  footer .col-title {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */