/*---------------------------------------
Author : Pascal Ablitzer
Date : 2021-12-09

-----------------------------------------*/

/*--------------- Import --------------------------------------
---------------------------------------------------------------*/
/*---------------- fonts */
@import 'font';

/*---------------- Reset css */

@import 'reset';

/*--------------- Configuration variables ------------------------
---------------------------------------------------------------*/
$col-dark: #003049;
$col-light: #eae2b7;
$col-prim: #d62828;
$col-sec: #f77f00;
$col-ter: #fcbf49;

$col-black: #1a1a1a;
$col-white: #f3f3f3;

$font-common: 'Roboto', sans-serif;
$font-level1: 'Trirong', serif;
$font-level2: 'Lato', sans-serif;

$breakpoint-res: 680px;
$breakpoint-big-res: 900px;

$header-height: 60px;
$header-inner-height: 40px;

/*--------------- Global Style --------------------------------
---------------------------------------------------------------*/
body {
  font-family: $font-common;
  font-weight: 400;
  font-size: 16px;
  color: $col-white;
  line-height: 1.5;
  background-color: $col-dark;
}

h1,
h2,
h3,
h4 {
  line-height: 150%;
}

h1 {
  font-family: $font-level1;
  font-style: italic;
  font-weight: 700;
  font-size: 2em;
}
h2 {
  font-family: $font-level2;
  font-weight: 700;
  font-size: 2em;
}
h3 {
  font-family: $font-level2;
  font-weight: 700;
  font-size: 1.5em;
}
h4 {
  font-family: $font-level2;
  font-weight: 400;
  font-size: 1.5em;
}
a {
  text-decoration: none;
  color: inherit;
}

.overlay {
  position: absolute;
  background-color: rgba($col-black, 0.25);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

%btn-common {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 2px;
  margin-bottom: 5px;
  border: 1px solid $col-prim;

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      font-family: 'Font Awesome 5 Free';
      font-size: 1.5em;
      font-weight: 900;
      content: '\f105';
      margin-left: 10px;
      line-height: 1em;
    }
  }
}
.btn {
  @extend %btn-common;
  border-color: $col-prim;
  background-color: $col-light;
  color: $col-prim;
  @media (hover: hover) {
    &:hover {
      color: $col-light;
      background-color: $col-prim;
    }
  }
}
.btn-prim {
  @extend %btn-common;
  border-color: darken($col-white, 40);
  background-color: $col-prim;
  color: darken($col-white, 20);
  @media (hover: hover) {
    &:hover {
      background-color: $col-sec;
      border-color: $col-prim;
      color: $col-white;
    }
  }
}

/*--------------- info data with icons */
%info-icon {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  width: 1.5em;
  display: inline-block;
  flex-shrink: 0;
}
.info {
  color: $col-sec;
}
.info-date::before {
  @extend %info-icon;
  content: '\f133';
}

.info-where::before {
  @extend %info-icon;
  content: '\f3c5';
}

.info-schedule::before {
  @extend %info-icon;
  content: '\f017';
}
.info-phone::before {
  @extend %info-icon;
  content: '\f879';
}
.info-email::before {
  @extend %info-icon;
  content: '\f0e0';
}

.heart {
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f004';
    margin-right: 10px;
    color: $col-prim;
  }
}

/*--------------- Layout Style --------------------------------------------------
---------------------------------------------------------------------------------*/

/*------------------------------------ Header */
@keyframes rotate-45 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

header {
  display: flex;
  background-color: $col-dark;
  height: $header-inner-height;
  padding: 10px 10px;
  color: $col-white;
  align-items: center;
  .logo {
    display: flex;
    align-items: center;

    img {
      max-width: $header-inner-height;
      max-height: $header-inner-height;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      img {
        animation: 2s ease-out 0s 1 running rotate-45;
      }
    }
    figcaption {
      margin-left: 0.5em;
      font-family: $font-level1;
    }
  }
}

/*------------------------------------ Burger menu */

// menu burger toggle not visible
.toggle {
  display: none;
}

// Burger menu
.btn-menu {
  position: absolute;
  top: -22px;
  right: 0;
  cursor: pointer;
  padding: 20px;
  z-index: 10001;
  > span,
  > span::before,
  > span::after {
    display: block;
    width: 40px;
    height: 0px;
    padding: 2px 0;
    border-radius: 5px;
    background-color: $col-white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  > span::before {
    content: '';
    position: absolute;
    top: 10px;
  }
  > span::after {
    content: '';
    position: absolute;
    top: 30px;
  }

  // effect on burger menu hover
  &:hover {
    > span::before {
      transform: translateY(-3px);
    }
    > span::after {
      transform: translateY(3px);
    }
  }
}

// burger menu toggle management
.toggle:checked {
  // transform burger menu => close button  when toggle checked

  + .btn-menu > span {
    background-color: transparent;
  }
  + .btn-menu > span::before {
    transform: translateY(10px) rotate(45deg);
  }
  + .btn-menu > span::after {
    transform: translateY(-10px) rotate(-45deg);
  }

  // toggle associated menu visibility
  ~ .menu {
    visibility: visible;
    opacity: 1;
    z-index: 10000;
  }
}

// burger menu on large screen : not displayed
@media screen and (min-width: $breakpoint-res) {
  // buger menu not visible
  .btn-menu {
    visibility: hidden;

    // set opacity for smooth transition on resize
    > span::before,
    > span::after {
      visibility: hidden;
      opacity: 0;
    }
  }
}

//*----------------------------------- Nav */
nav {
  position: relative;
  flex-grow: 1;
}

// menu layout
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $col-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    li {
      font-size: 1.1em;
      padding: 30px 0px;
      text-transform: uppercase;

      a {
        border-bottom: 2px solid transparent;
        padding: 4px 0;
        &.current {
          border-bottom: 2px solid $col-sec;
        }
        &:hover:not(.current) {
          border-bottom: 2px solid $col-ter;
          color: $col-ter;
        }
      }
    }
  }
}

// Plain menu when burger menu is not displayed
@media screen and (min-width: $breakpoint-res) {
  .menu {
    display: flex;
    justify-content: center;
    position: initial;
    visibility: visible;
    opacity: 1;

    ul {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      li {
        text-transform: initial;
        padding: 0px 30px;
      }
    }
  }
}

//*----------------------------------- Banner */

// "encourage to slide" effect
@keyframes slide-up {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  50% {
    transform: translateY(-10vh);
    opacity: 0.5;
  }

  80% {
    transform: translateY(-10vh);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.slide {
  color: $col-white;
  opacity: 0;
  animation: 4s ease 3s 6 running slide-up;
  &::before {
    font-size: 4em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
  }
}

// Background animation effect
@keyframes anim-background {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes anim-fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

// banner layout

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $col-dark;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position-x: center;
  &.bi1 {
    background-image: url(/res/img/cor1-gs.jpg);
    &.anim {
      animation: 3s ease-out 0s 1 running anim-background;
    }
  }
  &.bi2 {
    background-image: url(/res/img/cor8-gs.jpg);
    &.anim {
      animation: 3s ease-in-out 0s 1 running anim-fade;
    }
  }
  &.bi3 {
    background-image: url(/res/img/cor10-gs.jpg);
    &.anim {
      animation: 3s ease-in-out 0s 1 running anim-fade;
    }
  }
  &.bi4 {
    background-image: url(/res/img/cor11-gs.jpg);
    &.anim {
      animation: 3s ease-in-out 0s 1 running anim-fade;
    }
  }
  &.bi5 {
    background-image: url(/res/img/cor12-gs.jpg);
    &.anim {
      animation: 3s ease-in-out 0s 1 running anim-fade;
    }
  }
}

.banner {
  color: $col-white;
  overflow: hidden;

  position: relative;

  // default full screen high : minimum set for landscape mode
  height: calc(100vh - #{$header-height});
  min-height: 320px;
  // large mode to fit to content
  &.heigth-large {
    min-height: inherit;
    height: initial;
  }

  // banner content
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 101;
  }

  // text box in banner
  .text-container {
    background-color: rgba($col-black, 0.7);
    margin: 20px 10vw;
    padding: 20px;
    z-index: 120;
  }

  // form integrated in banner

  .form-container {
    background-color: rgba($col-black, 0.7);
    margin: 0px 10vw 10vh 10vw;
    height: 60vh;
    min-height: 400px;
    max-width: 600px;
    padding: 20px;
    z-index: 101;
    align-self: center;

    form {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      height: 100%;
    }
    label,
    input,
    textarea {
      font-family: $font-common;
      font-size: 0.9em;
      margin-bottom: 10px;
    }
    input:not([type='submit']),
    textarea {
      padding: 5px;
      border: 1px solid $col-black;
      background-color: $col-white;
      &:hover {
        border-color: $col-ter;
      }
    }
    textarea {
      resize: none;
      flex-grow: 1;
    }

    input[type='submit'] {
      margin-top: 20px;
      width: 100px;
      align-self: center;
    }
  }
  // slide effect container
  .slide-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;

    z-index: 110;
  }
  p,
  h1 {
    text-shadow: #000 0 0 30px;
    text-align: center;
    z-index: 120;
  }

  p {
    font-size: 1em;
    margin-bottom: 10px;
    font-family: $font-level2;
    font-weight: 200;
  }
  h1 {
    margin-top: 5vh;
    margin-bottom: 20px;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    flex-grow: 1;
    text-align: center;
    .btn {
      margin: auto;
    }
  }
}
@media screen and (min-width: $breakpoint-res) {
  // banner layout for large screens
  .banner {
    height: 75vh;
    min-height: 400px;

    h1,
    p {
      text-align: center;
    }
  }
  .slide {
    display: none;
  }
}

//*----------------------------------- Main content*/

section {
  background-color: $col-dark;
  margin: 0px 10px 10px 10px;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    //opacity: 1;
  }

  h2 {
    text-align: center;
    width: 100%;
    margin: 20px 10px 0 10px;
    background-color: transparent;
    color: $col-white;
    padding: 5px 0;
    font-weight: 200;
    font-size: 1.5em;
  }

  article {
    width: 100%;
    color: $col-black;
  }

  article:nth-of-type(2n) .up-line {
    border-top: 20px solid $col-ter;
  }
  article:nth-of-type(2n + 1) .up-line {
    border-top: 20px solid $col-sec;
  }

  .card {
    margin: 20px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 2fr;
    background-color: $col-light;
    min-height: 220px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
    .info-block {
      padding: 10px;
    }
    .info-detail {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }
    h3 {
      font-size: 1em;
      text-align: center;
    }
    h4 {
      font-size: 1em;
      font-weight: 200;
      margin-bottom: 10px;
      text-align: center;
    }
    .info {
      font-size: 0.9em;
      display: flex;
    }
    .btn {
      align-self: center;
      flex-grow: 0;
      margin-top: 10px;
      border: 1px solid $col-sec;
    }
  }
  .btn-prim {
    margin-top: 20px;
  }

  article:nth-of-type(2n) .left-line {
    border-left: 20px solid $col-ter;
  }
  article:nth-of-type(2n + 1) .left-line {
    border-left: 20px solid $col-sec;
  }
  .text-block {
    margin: 20px 20px 0px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: $col-light;
    h3 {
      font-size: 1.2em;
      text-align: left;
      color: $col-prim;
      margin-bottom: 1em;
    }
    p {
      font-size: 1em;
      margin-bottom: 0.5em;
    }
    .btn {
      align-self: flex-start;
      margin-bottom: 0.5em;
    }
    address {
      margin-bottom: 0.5em;
      margin-left: 10px;
      display: flex;
      flex-direction: column;

      .info {
        margin-bottom: 0.5em;
        display: flex;
        font-size: 0.9em;
      }
      .info::before {
        color: $col-prim;
      }
    }
  }
}
.video-block {
  margin: 20px 20px 0px 20px;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $col-light;

  h3 {
    font-size: 1em;
    text-align: center;
  }
  h4 {
    font-size: 1em;
    font-weight: 200;
    margin-bottom: 10px;
    text-align: center;
  }

  .video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
  .mw-center {
    width: 90%;
    align-self: center;
  }
}

// for bigger screen : change card orientation
@media screen and (min-width: $breakpoint-res) {
  section {
    .card {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr;
      .info {
        padding: 10px;
      }
      .btn {
        align-self: flex-start;
        margin-top: 20px;
      }
      h3,
      h4 {
        text-align: left;
      }
    }
    .video-block {
      .mw-center {
        width: 80%;
        align-self: center;
      }
    }
  }
}
// for biggest screen : diplay two cards per line
@media screen and (min-width: $breakpoint-big-res) {
  section {
    h2 {
      width: 100%;
      margin: 20px 10px 0 10px;
    }

    article {
      &.bs-2-columns {
        width: 50%;
        img {
          max-height: 300px;
        }
      }

      .card {
        min-height: 300px;
      }
      .video-block {
        .mw-center {
          width: 60%;
          align-self: center;
        }
      }
    }
  }
}

.full-width-container {
  width: 100%;
  margin: 10px 20px;

  .btn-prim {
    display: block;
    text-align: center;
  }
}
/*---------------- Aside */

/*---------------- Footer */
footer {
  background-color: $col-dark;
  color: darken($col-white, 40);
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 10px;

  .highlight {
    color: $col-white;
  }
  .foot-head {
    margin: 10px 20px 10px 20px;
    font-family: $font-level2;
    font-weight: 200;
    font-size: 1em;
    text-align: center;
    grid-area: head;
    width: 100%;
  }
  .foot-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .col-title {
    font-size: 0.9em;
    font-family: $font-level2;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
  }
  .col-main {
    align-self: center;
    li {
      text-align: left;
      margin-top: 10px;
      &.centered {
        text-align: center;
      }
      i {
        color: $col-ter;
      }
      &:hover {
        color: $col-ter;
      }
    }
  }
  .totop {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 35px;
    padding: 10px;
    color: $col-white;
    background-color: rgba($col-dark, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    i {
      transition: all 0.3s ease-in-out;
    }
    @media (hover: hover) {
      &:hover {
        background-color: $col-prim;
        transform: scale(1.1);
        i {
          transform: translateY(-5px);
        }
      }
    }
  }
}
// on larger screen footer on two columns
@media screen and (min-width: $breakpoint-res) {
  footer {
    .foot-column {
      width: 50%;
    }
    .col-title {
      text-align: center;
    }
  }
}
