@font-face {
  font-family: 'Roboto-Bold';
  src: url('/path-to/Roboto-Bold.woff2') format('woff2'),
       url('/path-to/Roboto-Bold.woff') format('woff'),
       url('/path-to/Roboto-Bold.ttf')  format('truetype');
}

body {
  font-family: 'Roboto-Bold', sans-serif;
}
